In [18]:
import quandl
import pandas as pd

In [6]:
dfhpi.to_pickle("dfhpi.p")

dfhpi = quandl.get("FMAC/HPI", authtoken="nuJxiNyz4pb3vLYxBxka")

In [5]:
dfhpi

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,TX,UT,VA,VT,WA,WI,WV,WY,United States not seasonaly adjusted,United States seasonaly adjusted
Date,,,,,,,,,,,,,,,,,,,,,
1975-01-31,34.371830,35.695975,36.738861,28.937735,15.722312,19.603977,24.369431,18.255987,27.264842,30.997043,...,32.602350,24.698474,27.912640,26.637620,17.484315,28.096764,41.002072,31.668794,23.497479,23.471007
1975-02-28,34.880945,35.896770,37.098962,29.463708,15.775202,19.837138,24.908036,18.382701,27.250734,32.229049,...,32.944116,25.060977,28.205810,26.956271,17.571053,28.486170,42.040473,32.161920,23.648785,23.629873
1975-03-31,35.402217,36.133518,37.416398,29.959514,15.964942,20.073483,25.313556,18.514587,27.268478,34.027506,...,33.542975,25.381341,28.420407,27.264731,17.689717,28.860737,43.122486,32.680525,23.895294,23.844527
1975-04-30,35.944703,36.425723,37.677813,30.345148,16.275547,20.301864,25.541141,18.689302,27.362673,36.218077,...,34.402826,25.627200,28.578762,27.546568,17.818792,29.185048,44.239196,33.210124,24.216495,24.111771
1975-05-31,36.535272,36.695708,37.921099,30.546449,16.533017,20.495075,25.614056,18.937116,27.561893,36.437855,...,34.649755,25.782334,28.717611,27.794738,17.933277,29.443523,45.363222,33.714128,24.416894,24.261528
1975-06-30,37.165797,36.823713,38.159640,30.496614,16.646799,20.657610,25.593715,19.250010,27.817379,34.782271,...,34.214012,25.820787,28.859132,28.015188,18.060595,29.643096,46.434891,34.179561,24.465090,24.249877
1975-07-31,37.795450,36.747060,38.351084,30.173822,16.768340,20.767493,25.562141,19.588932,28.054119,33.559446,...,33.926084,25.749555,29.053840,28.197133,18.204860,29.808953,47.374534,34.611141,24.526702,24.286179
1975-08-31,38.369702,36.511773,38.450073,29.662525,16.989530,20.766267,25.561580,19.909388,28.260091,33.003501,...,33.892530,25.652102,29.245755,28.318131,18.291957,29.965614,48.123276,34.997927,24.623942,24.395481
1975-09-30,38.870586,36.255136,38.428010,29.128419,17.230749,20.693247,25.603379,20.193947,28.435083,32.874239,...,33.975850,25.631074,29.299723,28.381090,18.295879,30.169332,48.624442,35.324392,24.708960,24.498561
1975-10-31,39.326955,36.139294,38.355341,28.828753,17.447896,20.677437,25.692004,20.425485,28.555244,32.987685,...,34.088819,25.802722,29.241360,28.404311,18.311491,30.400019,48.844944,35.564002,24.792512,24.618847
1975-11-30,39.737259,36.247464,38.377787,28.941164,17.596355,20.813599,25.869720,20.568637,28.633600,33.226950,...,34.297688,26.178201,29.147034,28.399731,18.445463,30.553751,48.851988,35.719948,24.909430,24.791383
1975-12-31,40.082874,36.592162,38.535310,29.318046,17.725346,21.044355,26.106416,20.659150,28.693510,33.389483,...,34.495964,26.596479,29.043642,28.372971,18.666300,30.611019,48.756207,35.823018,25.056381,24.994985
1976-01-31,40.363154,37.138285,38.782622,29.704143,17.908764,21.261114,26.322159,20.782185,28.724852,33.380928,...,34.624718,26.970218,28.966076,28.327242,18.891872,30.625870,48.641612,35.909297,25.205841,25.177444
1976-02-29,40.596136,37.756437,39.126083,29.996550,18.117587,21.441256,26.475488,20.964669,28.728540,33.404365,...,34.927336,27.314136,29.012613,28.272025,19.118606,30.629882,48.590975,36.027093,25.360528,25.340247
1976-03-31,40.805885,38.276319,39.571310,30.171495,18.379530,21.622061,26.567976,21.165906,28.738149,33.940910,...,35.656681,27.609005,29.197571,28.237516,19.333061,30.663396,48.632972,36.205274,25.576958,25.522618
1976-04-30,41.002975,38.596135,40.057999,30.239323,18.673067,21.794533,26.638448,21.365222,28.804320,35.152678,...,36.676904,27.858088,29.426252,28.268887,19.527588,30.788789,48.709444,36.448181,25.857265,25.745445
1976-05-31,41.187715,38.740517,40.468693,30.235996,18.899995,21.916109,26.726320,21.585253,28.901931,35.469750,...,36.983259,28.052347,29.670671,28.382876,19.751452,31.001631,48.757706,36.776850,26.064365,25.898517
1976-06-30,41.362367,38.797231,40.762886,30.205174,19.131690,21.990101,26.872599,21.831689,28.960602,34.602640,...,36.591101,28.167646,29.883049,28.570714,20.056070,31.193881,48.750044,37.232642,26.209508,25.978949
1976-07-31,41.521685,38.856955,41.018576,30.199231,19.429194,22.016767,27.077422,22.086280,28.970655,34.002097,...,36.396803,28.286503,30.025206,28.815406,20.447975,31.333897,48.684755,37.805035,26.390013,26.131218
1976-08-31,41.662983,38.918701,41.303581,30.238988,19.725256,22.004561,27.236233,22.342162,28.954171,33.893909,...,36.393828,28.440029,30.188124,29.086216,20.796144,31.492695,48.596508,38.417253,26.562472,26.316026
1976-09-30,41.845067,38.958368,41.558711,30.305538,20.001803,22.018000,27.294271,22.594383,28.937931,34.010770,...,36.488809,28.561118,30.353002,29.347313,20.994394,31.692007,48.535679,39.032822,26.699425,26.472077
1976-10-31,42.124701,39.018758,41.720393,30.458042,20.297347,22.153648,27.346562,22.808480,28.964190,34.129382,...,36.707659,28.677329,30.464587,29.571743,21.120745,31.897835,48.520561,39.656983,26.844155,26.656119
1976-11-30,42.492789,39.159408,41.846132,30.688605,20.656530,22.423172,27.384624,22.950054,29.066797,34.202741,...,37.017606,28.881028,30.575026,29.755778,21.295105,32.149092,48.563328,40.240418,27.046364,26.918190
1976-12-31,42.921262,39.316048,42.020453,30.870150,21.011057,22.708559,27.324945,23.080411,29.238302,34.057553,...,37.236711,29.205069,30.666617,29.911694,21.500396,32.482108,48.696642,40.708418,27.258521,27.191730
1977-01-31,43.365812,39.393664,42.303965,30.977525,21.378726,22.918908,27.234680,23.293298,29.450361,33.562766,...,37.416779,29.577173,30.741686,30.049640,21.646051,32.861943,48.947753,41.069726,27.456688,27.425756
1977-02-28,43.773119,39.416713,42.695391,31.098465,21.859477,23.086883,27.207404,23.613313,29.658821,32.868590,...,37.856734,29.951472,30.875290,30.177715,21.807327,33.308601,49.306321,41.390569,27.698992,27.676841
1977-03-31,44.099249,39.450967,43.108400,31.332174,22.440876,23.276302,27.297209,24.050004,29.804030,32.992444,...,38.898027,30.362969,31.092374,30.318482,22.130020,33.821916,49.755469,41.709548,28.069705,28.010069
1977-04-30,44.345888,39.609241,43.438706,31.624298,23.016523,23.543649,27.605750,24.585012,29.857762,34.760749,...,40.557091,30.833450,31.353535,30.496645,22.641429,34.312509,50.300220,42.040222,28.585744,28.462124
1977-05-31,44.556381,39.921331,43.667636,31.875612,23.612290,23.888232,28.101364,25.124851,29.844638,35.967863,...,40.866864,31.331385,31.656135,30.725822,23.197444,34.777626,50.879888,42.410106,29.036357,28.851598
1977-06-30,44.760697,40.340456,43.885294,32.192705,24.210287,24.298073,28.641820,25.617354,29.827604,35.507634,...,39.888819,31.806755,31.995997,31.002979,23.696735,35.343133,51.405000,42.887022,29.354305,29.096083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-31,175.091653,127.854262,133.701718,157.944488,190.488116,156.409992,135.003216,308.343379,151.879340,167.958473,...,166.253040,156.041122,175.208724,166.977351,171.715507,127.066321,144.940038,187.178331,157.322653,154.268575
2015-08-31,175.514286,127.845969,134.312771,158.758281,191.250750,156.823919,134.433330,309.642384,151.825737,168.875805,...,166.384353,156.625646,175.083077,166.931306,172.634348,127.091520,144.340557,187.544553,157.641827,155.025585
2015-09-30,175.476030,127.319078,134.697294,159.633744,191.635366,156.960951,133.064906,311.216267,151.956067,169.671476,...,166.486297,157.212501,174.884369,166.312589,173.077689,126.830511,143.497835,187.008391,157.659587,155.810516
2015-10-31,175.123473,126.705007,134.645622,160.190802,191.997776,157.103220,131.897223,312.938778,152.414383,170.808945,...,166.950363,157.717839,174.388030,165.433637,173.703553,126.614993,142.625716,185.978325,157.643620,156.677056
2015-11-30,174.850517,126.273111,134.201039,160.333155,192.581842,157.024314,131.120324,314.748299,153.091084,171.717982,...,167.216055,157.944342,173.529003,164.508913,174.419560,126.423261,141.792450,184.724181,157.581368,157.559360
2015-12-31,174.694000,126.028940,133.595655,160.429528,193.126772,157.329343,130.345378,316.613230,153.587838,172.050554,...,167.301727,158.211716,172.555924,163.750879,174.944608,125.795952,141.010233,183.614896,157.401651,158.314426
2016-01-31,174.563606,126.252948,133.108462,160.943495,193.573002,158.668421,129.683540,318.371998,153.780240,172.428224,...,167.994033,158.958460,172.194878,163.270760,176.039599,125.257043,140.404463,183.051448,157.457144,159.072849
2016-02-29,174.653159,127.029795,133.131020,162.382325,195.374776,160.916346,129.538163,320.236901,153.835557,174.112903,...,169.660774,160.090283,173.258149,163.115976,178.599589,125.748576,140.214876,183.203686,158.455164,159.894459
2016-03-31,175.146222,128.128436,133.875006,164.423535,198.379875,163.810481,130.112376,322.208764,154.034479,176.969746,...,171.383514,161.744070,175.437539,163.420328,181.944029,127.282817,140.693011,184.028248,160.359080,160.753958
2016-04-30,176.039416,129.498282,135.042534,166.160234,200.552706,166.832490,131.405100,324.110711,154.482470,179.363828,...,173.101986,164.133025,177.717105,164.366377,185.147288,129.212290,141.852391,185.243552,162.497651,161.501398
2016-05-31,177.015628,130.839220,136.229099,167.102940,202.154601,169.503361,132.898431,325.736063,154.924846,181.309947,...,175.157348,166.372582,179.676544,165.667628,187.923243,131.204000,143.390083,186.365183,164.506133,162.261846
2016-06-30,177.488884,131.902611,137.253244,167.772063,203.725125,171.405941,134.098245,326.322141,155.254697,183.323405,...,176.676004,167.867304,180.908437,166.947542,190.137496,133.077226,144.741295,187.224531,166.104964,163.074878
2016-07-31,177.187857,132.731896,137.861877,168.729972,204.874817,172.481655,134.594061,325.792509,155.417296,184.907395,...,177.610891,169.110488,181.090826,167.977267,191.804171,134.244672,145.476349,187.908365,167.085208,163.912720
2016-08-31,176.366964,133.123014,137.962164,169.836520,205.424770,172.906428,134.110790,325.046362,155.231724,186.173544,...,178.443113,170.034755,180.813071,168.363823,192.752498,134.523127,145.769855,188.408497,167.510574,164.785117
2016-09-30,175.461582,132.944681,137.792087,171.040902,205.505700,173.035250,133.369966,324.620900,154.728534,187.215818,...,179.043491,170.376254,180.433431,167.929266,193.007928,134.286457,145.952914,188.456565,167.585554,165.668763
2016-10-31,174.851708,132.231221,137.488042,172.308486,205.758167,173.194400,132.883861,325.051200,154.138625,188.100468,...,179.179408,170.180918,180.074502,167.044459,193.035534,133.977893,145.993389,187.794019,167.551675,166.566125
2016-11-30,174.614858,131.451951,137.319895,173.128501,206.246715,173.341407,132.447694,326.650492,153.660290,188.758560,...,178.934777,169.756719,179.498081,166.299580,193.437720,133.277474,145.866178,186.762479,167.467974,167.458258
2016-12-31,174.607365,131.060867,137.493642,173.638863,207.234460,174.042987,131.913690,329.488568,153.215859,189.530763,...,178.927591,169.753153,178.733383,166.037177,194.598870,132.395394,145.503670,185.998820,167.474996,168.415512
2017-01-31,174.851825,131.261240,137.827229,174.405886,208.473088,175.822978,131.398494,333.435816,152.988293,190.903528,...,180.030701,170.849721,178.490562,166.456375,196.425188,132.220787,145.020938,185.888657,167.862946,169.540487
2017-02-28,175.522695,132.227038,138.329438,175.428697,209.967934,178.360284,131.231176,337.455182,153.403252,192.678481,...,181.822975,173.144218,179.564152,167.550095,199.497031,132.799496,144.798504,186.457917,169.021258,170.513570
2017-03-31,176.550880,133.824067,139.192445,177.064431,212.230372,181.160905,132.052608,340.624315,154.676956,194.565440,...,183.875660,175.942719,182.178128,169.003479,204.099284,134.307044,145.104852,187.473682,171.063861,171.454429
2017-04-30,177.793645,135.561296,140.314621,179.220426,214.901573,183.686078,133.996680,343.259392,156.429166,196.582167,...,186.668802,178.605611,185.142679,170.668489,208.832183,136.736984,145.852604,188.748111,173.541391,172.449293
2017-05-31,178.999869,136.832165,141.510839,180.921174,217.387092,185.776128,136.263447,345.422158,158.092000,198.300880,...,188.985902,181.052319,187.218160,172.628029,212.681252,139.127902,146.651677,190.108035,175.804777,173.387992
2017-06-30,179.910454,137.306662,142.714169,182.145258,219.143801,187.490550,138.088309,346.407731,159.645509,199.604161,...,189.875120,183.239131,188.194294,174.593408,215.515155,140.945374,147.210051,191.201139,177.425770,174.209931
2017-07-31,180.471912,137.053164,143.620062,183.518737,220.488530,188.574935,138.958521,345.818652,160.924917,201.176755,...,190.183635,184.835160,188.568619,175.832939,216.832218,141.917765,147.406003,191.768876,178.430602,175.085220
2017-08-31,180.767705,136.832464,143.883305,184.653324,221.827303,188.890036,138.899318,344.007270,161.484105,203.032387,...,190.405956,185.766048,188.244928,175.997419,217.172701,141.929765,147.276040,192.013542,178.982525,176.095178
2017-09-30,180.863076,137.182469,143.810889,185.082101,222.747758,189.247183,138.345405,342.079384,161.214510,204.479775,...,190.747517,186.219039,187.473673,175.630815,217.666449,141.704092,147.000202,192.303711,179.195171,177.150321
2017-10-31,180.642452,137.690921,143.815618,185.386919,223.013716,189.973594,137.688445,341.131417,160.357290,204.961848,...,191.001095,186.565591,186.848096,175.438235,218.375552,141.524015,146.961577,192.746245,179.214015,178.174761
2017-11-30,180.191092,137.905915,143.715639,185.808730,223.476329,190.468198,137.029819,341.367593,159.215701,205.148540,...,191.157777,186.978663,186.309152,175.451073,219.358413,141.158985,147.220056,193.252544,179.252146,179.252467
2017-12-31,180.140002,138.465286,143.535720,185.932453,224.416791,191.251430,136.368886,342.175252,158.169789,205.362563,...,191.614575,187.437632,185.522033,175.676196,220.553276,140.521333,147.220398,193.557479,179.339626,180.312876

In [7]:
dfhpi.columns

Index(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI',
       'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN',
       'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH',
       'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA',
       'WI', 'WV', 'WY', 'United States not seasonaly adjusted',
       'United States seasonaly adjusted'],
      dtype='object')

In [27]:
from datetime import timedelta
dfhpi2 = dfhpi[['United States seasonaly adjusted']].pct_change().dropna()
dfhpi2.index = dfhpi2.index + timedelta(days=1)

In [28]:
dfhpi2

            United States seasonaly adjusted
Date
1975-03-01                          0.006769
1975-04-01                          0.009084
1975-05-01                          0.011208
1975-06-01                          0.006211
1975-07-01                         -0.000480
1975-08-01                          0.001497
1975-09-01                          0.004501
1975-10-01                          0.004225
1975-11-01                          0.004910
1975-12-01                          0.007008
1976-01-01                          0.008213
1976-02-01                          0.007300
1976-03-01                          0.006466
1976-04-01                          0.007197
1976-05-01                          0.008731
1976-06-01                          0.005946
1976-07-01                          0.003106
1976-08-01                          0.005861
1976-09-01                          0.007072
1976-10-01                          0.005930
1976-11-01                          0.006952
1976-12-01                          0.009832
1977-01-01                          0.010162
1977-02-01                          0.008607
1977-03-01                          0.009155
1977-04-01                          0.012040
1977-05-01                          0.016139
1977-06-01                          0.013684
1977-07-01                          0.008474
1977-08-01                          0.010384
...                                      ...
2015-08-01                          0.004850
2015-09-01                          0.004907
2015-10-01                          0.005063
2015-11-01                          0.005561
2015-12-01                          0.005631
2016-01-01                          0.004792
2016-02-01                          0.004791
2016-03-01                          0.005165
2016-04-01                          0.005375
2016-05-01                          0.004650
2016-06-01                          0.004709
2016-07-01                          0.005011
2016-08-01                          0.005138
2016-09-01                          0.005322
2016-10-01                          0.005362
2016-11-01                          0.005417
2016-12-01                          0.005356
2017-01-01                          0.005716
2017-02-01                          0.006680
2017-03-01                          0.005740
2017-04-01                          0.005518
2017-05-01                          0.005802
2017-06-01                          0.005443
2017-07-01                          0.004740
2017-08-01                          0.005024
2017-09-01                          0.005768
2017-10-01                          0.005992
2017-11-01                          0.005783
2017-12-01                          0.006049
2018-01-01                          0.005916

[515 rows x 1 columns]

dfmorg = quandl.get("FMAC/MORTG", authtoken="nuJxiNyz4pb3vLYxBxka")

In [16]:
dfmorg.to_pickle('dfmorg.p')

In [19]:
dfmorg = pd.read_pickle('dfmorg.p')

In [20]:
dfmorg

            Value
Date
1971-04-01   7.31
1971-05-01   7.43
1971-06-01   7.53
1971-07-01   7.60
1971-08-01   7.70
1971-09-01   7.69
1971-10-01   7.63
1971-11-01   7.55
1971-12-01   7.48
1972-01-01   7.44
1972-02-01   7.33
1972-03-01   7.30
1972-04-01   7.29
1972-05-01   7.37
1972-06-01   7.37
1972-07-01   7.40
1972-08-01   7.40
1972-09-01   7.42
1972-10-01   7.42
1972-11-01   7.43
1972-12-01   7.44
1973-01-01   7.44
1973-02-01   7.44
1973-03-01   7.46
1973-04-01   7.54
1973-05-01   7.65
1973-06-01   7.73
1973-07-01   8.05
1973-08-01   8.50
1973-09-01   8.82
...           ...
2014-04-01   4.34
2014-05-01   4.19
2014-06-01   4.16
2014-07-01   4.13
2014-08-01   4.12
2014-09-01   4.16
2014-10-01   4.04
2014-11-01   4.00
2014-12-01   3.86
2015-01-01   3.71
2015-02-01   3.71
2015-03-01   3.77
2015-04-01   3.67
2015-05-01   3.84
2015-06-01   3.98
2015-07-01   4.05
2015-08-01   3.91
2015-09-01   3.89
2015-10-01   3.80
2015-11-01   3.94
2015-12-01   3.96
2016-01-01   3.87
2016-02-01   3.66
2016-03-01   3.69
2016-04-01   3.61
2016-05-01   3.60
2016-06-01   3.57
2016-07-01   3.44
2016-08-01   3.44
2016-09-01   3.46

[546 rows x 1 columns]

In [33]:
dfdji = pd.read_pickle('DJI.p')

In [34]:
dfdji2 = dfdji.resample('M',  'last') #.sum()
dfdji2 = dfdji2[['Adj Close']]

dfdji2.index  = dfdji2.index + timedelta(days=1) 
dfdji2

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  if __name__ == '__main__':

               Adj Close
Date
2008-08-01  11378.000000
2008-09-01  11543.500000
2008-10-01  10850.700195
2008-11-01   9325.009766
2008-12-01   8829.040039
2009-01-01   8776.389648
2009-02-01   8000.859863
2009-03-01   7182.080078
2009-04-01   7608.919922
2009-05-01   8168.120117
2009-06-01   8403.799805
2009-07-01   8529.379883
2009-08-01   9154.459961
2009-09-01   9496.280273
2009-10-01   9712.280273
2009-11-01   9712.730469
2009-12-01  10318.200195
2010-01-01  10428.000000
2010-02-01  10120.500000
2010-03-01  10325.299805
2010-04-01  10856.599609
2010-05-01  11008.599609
2010-06-01  10259.000000
2010-07-01   9774.019531
2010-08-01  10465.900391
2010-09-01  10014.700195
2010-10-01  10788.000000
2010-11-01  11118.500000
2010-12-01  11006.000000
2011-01-01  11577.500000
...                  ...
2016-03-01  16516.500000
2016-04-01  17685.099609
2016-05-01  17773.599609
2016-06-01  17787.199219
2016-07-01  17930.000000
2016-08-01  18432.199219
2016-09-01  18400.900391
2016-10-01  18308.199219
2016-11-01  18142.400391
2016-12-01  19123.599609
2017-01-01  19762.599609
2017-02-01  19864.099609
2017-03-01  20812.199219
2017-04-01  20663.199219
2017-05-01  20940.500000
2017-06-01  21008.699219
2017-07-01  21349.599609
2017-08-01  21891.099609
2017-09-01  21948.099609
2017-10-01  22405.099609
2017-11-01  23377.199219
2017-12-01  24272.400391
2018-01-01  24719.199219
2018-02-01  26149.400391
2018-03-01  25029.199219
2018-04-01  24103.099609
2018-05-01  24163.099609
2018-06-01  24415.800781
2018-07-01  24271.400391
2018-08-01  25019.400391

[121 rows x 1 columns]

In [35]:
dfhpi3 = dfdji2[['Adj Close']].pct_change().dropna()

In [37]:
dfhpi3

            Adj Close
Date
2008-09-01   0.014546
2008-10-01  -0.060016
2008-11-01  -0.140608
2008-12-01  -0.053187
2009-01-01  -0.005963
2009-02-01  -0.088365
2009-03-01  -0.102336
2009-04-01   0.059431
2009-05-01   0.073493
2009-06-01   0.028854
2009-07-01   0.014943
2009-08-01   0.073286
2009-09-01   0.037339
2009-10-01   0.022746
2009-11-01   0.000046
2009-12-01   0.062338
2010-01-01   0.010641
2010-02-01  -0.029488
2010-03-01   0.020236
2010-04-01   0.051456
2010-05-01   0.014001
2010-06-01  -0.068092
2010-07-01  -0.047274
2010-08-01   0.070788
2010-09-01  -0.043111
2010-10-01   0.077216
2010-11-01   0.030636
2010-12-01  -0.010118
2011-01-01   0.051926
2011-02-01   0.027156
...               ...
2016-03-01   0.003049
2016-04-01   0.070753
2016-05-01   0.005004
2016-06-01   0.000765
2016-07-01   0.008028
2016-08-01   0.028009
2016-09-01  -0.001698
2016-10-01  -0.005038
2016-11-01  -0.009056
2016-12-01   0.054083
2017-01-01   0.033414
2017-02-01   0.005136
2017-03-01   0.047729
2017-04-01  -0.007159
2017-05-01   0.013420
2017-06-01   0.003257
2017-07-01   0.016227
2017-08-01   0.025363
2017-09-01   0.002604
2017-10-01   0.020822
2017-11-01   0.043387
2017-12-01   0.038294
2018-01-01   0.018408
2018-02-01   0.057858
2018-03-01  -0.042839
2018-04-01  -0.037001
2018-05-01   0.002489
2018-06-01   0.010458
2018-07-01  -0.005914
2018-08-01   0.030818

[120 rows x 1 columns]

In [42]:
rent = pd.read_csv('rent doc.csv')

In [43]:
rent

    Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0   2008  1.0  0.8  0.8  0.8  0.8  0.9  0.9  1.1  0.9  0.9  0.9  0.7
1   2009  0.7  0.6  0.6  0.5  0.5  0.4  0.2  0.1  0.0 -0.2 -0.2 -0.2
2   2010 -0.1  0.0  0.1  0.1  0.1  0.2  0.2  0.1  0.1  0.1  0.3  0.4
3   2011  0.6  0.5  0.5  0.4  0.4  0.4  0.5  0.7  0.8  0.9  0.8  0.7
4   2012  0.6  0.6  0.6  0.7  0.6  0.6  0.6  0.6  0.7  0.8  0.8  0.8
5   2013  0.6  0.7  0.7  0.7  0.7  0.7  0.7  0.7  0.7  0.7  0.6  0.7
6   2014  0.8  0.8  0.8  0.9  0.9  0.9  0.9  0.9  0.8  0.8  0.9  0.8
7   2015  0.9  0.8  0.9  0.9  0.9  0.9  0.9  1.0  1.0  1.0  0.9  0.8
8   2016  0.8  0.9  0.9  1.0  1.0  1.0  1.0  1.0  0.9  1.0  1.0  1.0
9   2017  1.0  0.9  0.9  0.9  0.9  1.0  0.9  1.0  0.9  0.9  0.8  0.9
10  2018  1.0  0.9  0.8  0.8  0.9  0.9  NaN  NaN  NaN  NaN  NaN  NaN

In [44]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

   A  B  C  key
0  1  4  7  foo
1  2  5  8  bar
2  3  6  9  baz

In [48]:
melted = pd.melt(rent, ['Year'])
melted

     Year variable  value
0    2008      Jan    1.0
1    2009      Jan    0.7
2    2010      Jan   -0.1
3    2011      Jan    0.6
4    2012      Jan    0.6
5    2013      Jan    0.6
6    2014      Jan    0.8
7    2015      Jan    0.9
8    2016      Jan    0.8
9    2017      Jan    1.0
10   2018      Jan    1.0
11   2008      Feb    0.8
12   2009      Feb    0.6
13   2010      Feb    0.0
14   2011      Feb    0.5
15   2012      Feb    0.6
16   2013      Feb    0.7
17   2014      Feb    0.8
18   2015      Feb    0.8
19   2016      Feb    0.9
20   2017      Feb    0.9
21   2018      Feb    0.9
22   2008      Mar    0.8
23   2009      Mar    0.6
24   2010      Mar    0.1
25   2011      Mar    0.5
26   2012      Mar    0.6
27   2013      Mar    0.7
28   2014      Mar    0.8
29   2015      Mar    0.9
..    ...      ...    ...
102  2011      Oct    0.9
103  2012      Oct    0.8
104  2013      Oct    0.7
105  2014      Oct    0.8
106  2015      Oct    1.0
107  2016      Oct    1.0
108  2017      Oct    0.9
109  2018      Oct    NaN
110  2008      Nov    0.9
111  2009      Nov   -0.2
112  2010      Nov    0.3
113  2011      Nov    0.8
114  2012      Nov    0.8
115  2013      Nov    0.6
116  2014      Nov    0.9
117  2015      Nov    0.9
118  2016      Nov    1.0
119  2017      Nov    0.8
120  2018      Nov    NaN
121  2008      Dec    0.7
122  2009      Dec   -0.2
123  2010      Dec    0.4
124  2011      Dec    0.7
125  2012      Dec    0.8
126  2013      Dec    0.7
127  2014      Dec    0.8
128  2015      Dec    0.8
129  2016      Dec    1.0
130  2017      Dec    0.9
131  2018      Dec    NaN

[132 rows x 3 columns]

In [49]:

melted.dtypes

Year          int64
variable     object
value       float64
dtype: object

In [50]:
melted['Year'] = melted[['Year']].astype('str')

melted['date'] =  melted['Year'] +'-' + melted['variable'] + '-01'  
melted

     Year variable  value         date
0    2008      Jan    1.0  2008-Jan-01
1    2009      Jan    0.7  2009-Jan-01
2    2010      Jan   -0.1  2010-Jan-01
3    2011      Jan    0.6  2011-Jan-01
4    2012      Jan    0.6  2012-Jan-01
5    2013      Jan    0.6  2013-Jan-01
6    2014      Jan    0.8  2014-Jan-01
7    2015      Jan    0.9  2015-Jan-01
8    2016      Jan    0.8  2016-Jan-01
9    2017      Jan    1.0  2017-Jan-01
10   2018      Jan    1.0  2018-Jan-01
11   2008      Feb    0.8  2008-Feb-01
12   2009      Feb    0.6  2009-Feb-01
13   2010      Feb    0.0  2010-Feb-01
14   2011      Feb    0.5  2011-Feb-01
15   2012      Feb    0.6  2012-Feb-01
16   2013      Feb    0.7  2013-Feb-01
17   2014      Feb    0.8  2014-Feb-01
18   2015      Feb    0.8  2015-Feb-01
19   2016      Feb    0.9  2016-Feb-01
20   2017      Feb    0.9  2017-Feb-01
21   2018      Feb    0.9  2018-Feb-01
22   2008      Mar    0.8  2008-Mar-01
23   2009      Mar    0.6  2009-Mar-01
24   2010      Mar    0.1  2010-Mar-01
25   2011      Mar    0.5  2011-Mar-01
26   2012      Mar    0.6  2012-Mar-01
27   2013      Mar    0.7  2013-Mar-01
28   2014      Mar    0.8  2014-Mar-01
29   2015      Mar    0.9  2015-Mar-01
..    ...      ...    ...          ...
102  2011      Oct    0.9  2011-Oct-01
103  2012      Oct    0.8  2012-Oct-01
104  2013      Oct    0.7  2013-Oct-01
105  2014      Oct    0.8  2014-Oct-01
106  2015      Oct    1.0  2015-Oct-01
107  2016      Oct    1.0  2016-Oct-01
108  2017      Oct    0.9  2017-Oct-01
109  2018      Oct    NaN  2018-Oct-01
110  2008      Nov    0.9  2008-Nov-01
111  2009      Nov   -0.2  2009-Nov-01
112  2010      Nov    0.3  2010-Nov-01
113  2011      Nov    0.8  2011-Nov-01
114  2012      Nov    0.8  2012-Nov-01
115  2013      Nov    0.6  2013-Nov-01
116  2014      Nov    0.9  2014-Nov-01
117  2015      Nov    0.9  2015-Nov-01
118  2016      Nov    1.0  2016-Nov-01
119  2017      Nov    0.8  2017-Nov-01
120  2018      Nov    NaN  2018-Nov-01
121  2008      Dec    0.7  2008-Dec-01
122  2009      Dec   -0.2  2009-Dec-01
123  2010      Dec    0.4  2010-Dec-01
124  2011      Dec    0.7  2011-Dec-01
125  2012      Dec    0.8  2012-Dec-01
126  2013      Dec    0.7  2013-Dec-01
127  2014      Dec    0.8  2014-Dec-01
128  2015      Dec    0.8  2015-Dec-01
129  2016      Dec    1.0  2016-Dec-01
130  2017      Dec    0.9  2017-Dec-01
131  2018      Dec    NaN  2018-Dec-01

[132 rows x 4 columns]

In [51]:
from datetime import datetime
#datetime.strptime('2018-Dec-01', '%Y-%b-%d')
melted['date'] = pd.to_datetime(melted['date'], format='%Y-%b-%d')
melted.dtypes

Year                object
variable            object
value              float64
date        datetime64[ns]
dtype: object

In [52]:
rentch = melted.set_index('date')
rentch = rentch[['value']]
rentch = rentch/100

In [55]:
rentch=rentch.dropna()

In [57]:
rentch

            value
date
2008-01-01  0.010
2009-01-01  0.007
2010-01-01 -0.001
2011-01-01  0.006
2012-01-01  0.006
2013-01-01  0.006
2014-01-01  0.008
2015-01-01  0.009
2016-01-01  0.008
2017-01-01  0.010
2018-01-01  0.010
2008-02-01  0.008
2009-02-01  0.006
2010-02-01  0.000
2011-02-01  0.005
2012-02-01  0.006
2013-02-01  0.007
2014-02-01  0.008
2015-02-01  0.008
2016-02-01  0.009
2017-02-01  0.009
2018-02-01  0.009
2008-03-01  0.008
2009-03-01  0.006
2010-03-01  0.001
2011-03-01  0.005
2012-03-01  0.006
2013-03-01  0.007
2014-03-01  0.008
2015-03-01  0.009
...           ...
2008-10-01  0.009
2009-10-01 -0.002
2010-10-01  0.001
2011-10-01  0.009
2012-10-01  0.008
2013-10-01  0.007
2014-10-01  0.008
2015-10-01  0.010
2016-10-01  0.010
2017-10-01  0.009
2008-11-01  0.009
2009-11-01 -0.002
2010-11-01  0.003
2011-11-01  0.008
2012-11-01  0.008
2013-11-01  0.006
2014-11-01  0.009
2015-11-01  0.009
2016-11-01  0.010
2017-11-01  0.008
2008-12-01  0.007
2009-12-01 -0.002
2010-12-01  0.004
2011-12-01  0.007
2012-12-01  0.008
2013-12-01  0.007
2014-12-01  0.008
2015-12-01  0.008
2016-12-01  0.010
2017-12-01  0.009

[126 rows x 1 columns]

In [60]:
dfmerge=pd.concat([dfhpi3,rentch, dfmorg, dfhpi2], join='inner', axis=1)

In [61]:
dfmerge.columns

Index(['Adj Close', 'value', 'Value', 'United States seasonaly adjusted'], dtype='object')

In [64]:
dfmerge.rename(columns={'Adj Close': 'dji', 'value': 'rent', 'Value': 'mortgr', 'United States seasonaly adjusted': 'hpi'}, inplace=True)

In [65]:
dfmerge

                 dji   rent  mortgr       hpi
2008-09-01  0.014546  0.009    6.04 -0.009560
2008-10-01 -0.060016  0.009    6.20 -0.010314
2008-11-01 -0.140608  0.009    6.09 -0.011146
2008-12-01 -0.053187  0.007    5.33 -0.013066
2009-01-01 -0.005963  0.007    5.06 -0.013507
2009-02-01 -0.088365  0.006    5.13 -0.010677
2009-03-01 -0.102336  0.006    5.00 -0.009083
2009-04-01  0.059431  0.005    4.81 -0.008350
2009-05-01  0.073493  0.005    4.86 -0.007852
2009-06-01  0.028854  0.004    5.42 -0.002512
2009-07-01  0.014943  0.002    5.22  0.001550
2009-08-01  0.073286  0.001    5.19  0.001111
2009-09-01  0.037339  0.000    5.06  0.001077
2009-10-01  0.022746 -0.002    4.95  0.001416
2009-11-01  0.000046 -0.002    4.88  0.002272
2009-12-01  0.062338 -0.002    4.93  0.001613
2010-01-01  0.010641 -0.001    5.03 -0.000822
2010-02-01 -0.029488  0.000    4.99 -0.000895
2010-03-01  0.020236  0.001    4.97 -0.000683
2010-04-01  0.051456  0.001    5.10 -0.000846
2010-05-01  0.014001  0.001    4.89 -0.003506
2010-06-01 -0.068092  0.002    4.74 -0.004561
2010-07-01 -0.047274  0.002    4.56 -0.007167
2010-08-01  0.070788  0.001    4.43 -0.008299
2010-09-01 -0.043111  0.001    4.35 -0.007206
2010-10-01  0.077216  0.001    4.23 -0.006292
2010-11-01  0.030636  0.003    4.30 -0.004256
2010-12-01 -0.010118  0.004    4.71 -0.002809
2011-01-01  0.051926  0.006    4.76 -0.003100
2011-02-01  0.027156  0.005    4.95 -0.002834
...              ...    ...     ...       ...
2014-04-01  0.008332  0.009    4.34  0.003961
2014-05-01  0.007480  0.009    4.19  0.003042
2014-06-01  0.008226  0.009    4.16  0.002715
2014-07-01  0.006544  0.009    4.13  0.002681
2014-08-01 -0.015648  0.009    4.12  0.003574
2014-09-01  0.032306  0.008    4.16  0.003537
2014-10-01 -0.003246  0.008    4.04  0.003508
2014-11-01  0.020396  0.009    4.00  0.004485
2014-12-01  0.025169  0.008    3.86  0.004994
2015-01-01 -0.000286  0.009    3.71  0.004596
2015-02-01 -0.036930  0.008    3.71  0.005126
2015-03-01  0.056382  0.009    3.77  0.004480
2015-04-01 -0.019666  0.009    3.67  0.004579
2015-05-01  0.003623  0.009    3.84  0.004472
2015-06-01  0.009540  0.009    3.98  0.004864
2015-07-01 -0.021720  0.009    4.05  0.004979
2015-08-01  0.007486  0.010    3.91  0.004850
2015-09-01 -0.068919  0.010    3.89  0.004907
2015-10-01 -0.014720  0.010    3.80  0.005063
2015-11-01  0.084668  0.009    3.94  0.005561
2015-12-01  0.003193  0.008    3.96  0.005631
2016-01-01 -0.016642  0.008    3.87  0.004792
2016-02-01 -0.055019  0.009    3.66  0.004791
2016-03-01  0.003049  0.009    3.69  0.005165
2016-04-01  0.070753  0.010    3.61  0.005375
2016-05-01  0.005004  0.010    3.60  0.004650
2016-06-01  0.000765  0.010    3.57  0.004709
2016-07-01  0.008028  0.010    3.44  0.005011
2016-08-01  0.028009  0.010    3.44  0.005138
2016-09-01 -0.001698  0.009    3.46  0.005322

[97 rows x 4 columns]

In [67]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(dfmerge[['dji','rent','mortgr' ]], dfmerge[['hpi' ]], test_size=0.2, random_state=0)

In [68]:
from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [69]:
print(regressor.intercept_)

[0.02704423]

In [70]:
print(regressor.coef_)

[[ 0.01492244 -0.00170649 -0.00598262]]

In [74]:
import statsmodels.api as sm

X = dfmerge[['dji','rent','mortgr' ]]
X = sm.add_constant(X)
y = dfmerge[['hpi' ]]

# Note the difference in argument order
model = sm.OLS(y, X).fit()
predictions = model.predict(X) # make the predictions by the model

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    hpi   R-squared:                       0.546
Model:                            OLS   Adj. R-squared:                  0.531
Method:                 Least Squares   F-statistic:                     37.24
Date:                Thu, 19 Jul 2018   Prob (F-statistic):           6.71e-16
Time:                        18:16:54   Log-Likelihood:                 402.20
No. Observations:                  97   AIC:                            -796.4
Df Residuals:                      93   BIC:                            -786.1
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0272      0.004      7.096      0.000       0.020       0.035
dji            0.0146      0.010      1.434      0.155      -0.006       0.035
rent           0.0846      0.153      0.552      0.582      -0.220       0.389
mortgr        -0.0062      0.001     -8.280      0.000      -0.008      -0.005
==============================================================================
Omnibus:                        1.144   Durbin-Watson:                   0.310
Prob(Omnibus):                  0.564   Jarque-Bera (JB):                0.686
Skew:                          -0.171   Prob(JB):                        0.710
Kurtosis:                       3.230   Cond. No.                     1.71e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
# P values - greater than .1 means not useful and is zero / change sign

# R-sq is over 50%, which means that model is not that bad
# P value for rent is 58% which means that this factor is not relevant
# P value of DJI is 15% so it is useful (but not the best)
# P value of Morg is 0% which is the most important factor in the model